body{
    font-family: 'Raleway', sans-serif;
/*
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 60px 60px;
    background-position: 0em 30px, 30px 0, 0em 30px, 30px 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    background-image: linear-gradient(45deg, #ddc 5%, transparent 5%, transparent 95%, #ddc 95%), linear-gradient(-45deg, #ddc 5%, transparent 5%, transparent 95%, #ddc 95%), linear-gradient(-45deg, #ddc 5%, transparent 5%, transparent 95%, #ddc 95%), linear-gradient(45deg, #ddc 5%, transparent 5%, transparent 95%, #ddc 95%), linear-gradient(-45deg, transparent 20%, #ddc 20%, #ddc 23%, transparent 23%, transparent 77%, #ddc 77%, #ddc 80%, transparent 80%), linear-gradient(45deg, transparent 27%, #ddc 27%, #ddc 30%, transparent 30%, transparent 70%, #ddc 70%, #ddc 73%, transparent 73%), linear-gradient(-135deg, #f5f5eb 10%, #e6e6cc 30%, transparent 30%, transparent 70%, #eed 70%, #f5f5eb 90%), linear-gradient(135deg, transparent 23%, #eed 23%, #fdfdfc 33.8%, #eed 63.5%, #f5f5eb 68.9%, #e6e6cc 77%, transparent 77%), linear-gradient(-135deg, transparent 23%, #eed 23%, #f5f5eb 40%, #f5f5eb 60%, #e6e6cc 77%, transparent 77%);
*/
}
.home{
    position: absolute;
    width: 80%;
    height: 100%;
    padding: 2em;
    box-sizing: border-box;
    color: white;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    background-size: 2em 2em;
    background-position: 0em 1em, 1em 0, 0em 1em, 1em 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    background-image: linear-gradient(45deg, #000000 8%, transparent 8%, transparent 92%, #000000 92%), linear-gradient(-45deg, #000000 8%, transparent 8%, transparent 92%, #000000 92%), linear-gradient(-45deg, #000000 8%, transparent 8%, transparent 92%, #000000 92%), linear-gradient(45deg, #000000 8%, transparent 8%, transparent 92%, #000000 92%), linear-gradient(-45deg, transparent 17%, #000000 17%, #000000 21%, transparent 21%, transparent 79%, #000000 79%, #000000 83%, transparent 83%), linear-gradient(45deg, transparent 29%, #000000 29%, #000000 33%, transparent 33%, transparent 67%, #000000 67%, #000000 71%, transparent 71%), linear-gradient(-135deg, #202020 10%, #090909 33%, transparent 33%, transparent 67%, #161616 67%, #202020 90%), linear-gradient(135deg, transparent 21%, #161616 21%, #2d2d2d 32.6%, #161616 64.5%, #202020 70.3%, #090909 79%, transparent 79%), linear-gradient(-135deg, transparent 21%, #161616 21%, #202020 40%, #202020 60%, #090909 79%, transparent 79%);
    -webkit-box-shadow: inset 0 0 2em #000;
}